<!DOCTYPE html>
<html>

<head>
    <title>Animated Login Form</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/images/wave.png" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="thiscontainer">
        <h1>
            <%= title %>
        </h1>
        <div class="form-contact">
            <div class="list-items-mine" id="list-items-mine">
                <ul>
                    <% for (element of myContact) {%>
                        <li>
                            <%= element.name %>
                        </li>
                        <li>
                            <%= element.phone %>
                        </li>

                        <li id='link'>
                            <a href="/delete-contact?id=<%= element._id %>">
                                <i class=" fas fa-user-times"></i>
                            </a>
                        </li>
                        <br>

                        <%}%>

                </ul>
            </div>
        </div>


    </div>
    <!-- this is copy content
     -->
    <img class="wave" src="/images/wave.png">
    <div class="container">
        <div class="img">
            <img src="/images/bg.svg">
        </div>
        <div class="login-content">
            <form action="/create-contact" method="POST">
                <img src="images/avatar.svg">
                <h2 class="title">Welcome</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Username</h5>
                        <input type="text" name="name" class="input" maxlength="10" required autocomplete="off">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Contact</h5>
                        <input type="number" name="phone" class="input" autocomplete="off">
                    </div>
                </div>
                <input type="submit" class="btn" value="submit">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/js/app.js"></script>
</body>

</html>